
.spinner-loading {
    border: 10px solid rgb(34, 50, 126);
    border-right-color: transparent;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: relative;
    top: 80%;
    left: 50%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(1turn);
    }
  }
  
  .spinner-loader-text {
    color: rgb(2, 2, 2);
    margin: 0;
    text-transform: capitalize;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: 7.5%;

    transform: translate(-50%, -50%);
  }
  
  .spinner-loader-text:before,
  .spinner-loader-text:after {
    content: "..";
    position: absolute;
    animation: dot-animation 1s linear infinite alternate;
  }
  
  .spinner-loader-text:before {
    right: -15px;
  }
  .spinner-loader-text:after {
    right: -20px;
    animation-delay: 1s;
  }
  
  @keyframes dot-animation {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.5;
    }
  }
  